html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: inline-block;
  padding: 1rem;
  background-color: #dcd4cd;
  border-radius: 8px;
  color: #512200;
  text-decoration: none;
  border: 3px solid #9a816d;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.link-card:hover {
  background-color: #cabdb2;
  color: #512200;
}

.link-card dd {
  display: inline-block;
  width: 45%;
  margin: 0;
}

.link-card dt {
  display: inline-block;
  width: 45%;
  margin: 0;
}

.link-card dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .875rem;
}

.btn {
  background-color: #785439;
  font-family: Dosis, sans-serif;
  color: #f0eee8;
  font-weight: bold;
  padding: .4em .75em .5em;
  display: inline-block;
  font-size: 1.125rem;
}
